---
body_id: landing
layout: chrome
title: Jialei Wang
---
<header>
  <h1>Jialei Wang</h1>
</header>
<section id="about">
  <img src="{{ 'me_2.jpg' | asset_path }}" height="329px"/>
  <p>
    <strong>
      My name is Jialei Wang, I am a PhD candidate from Cornell University and majored in Operations Research. 
      My research interest is 
      <a href="https://en.wikipedia.org/wiki/Bayesian_optimization">Bayesian Global Optimization</a>, 
      more specifically, the exploration vs. exploitation tradeoff for sequential decision-making under 
      uncertainty.
    </strong>
  </p>
  <p>
    I like coding, and I see it as a way to transform ideas into reality. I did an internship as a software
    engineer at 
    <a href="http://www.yelp.com/">Yelp</a>
    in the summer of 2014, and during the internship I contributed to the open-sourced software 
    package for Bayesian global optimization
    <a href="http://yelp.github.io/MOE/">MOE</a>.
  </p>
</section>
<section id="links">
  You can find me on
  <a href="http://www.twitter.com/garywang304">Twitter</a>,
  <a href="http://www.github.com/jialeiwang">GitHub</a>,
  and <a href="http://www.facebook.com/garywang304">Facebook</a>.
  Here is my <a href="resume_JialeiWang_IT.pdf">Curriculum vitae</a>.
</section>
<section id="about">
  <h3>Presentation slides</h3>
  <ul>
  {% for post in site.posts %}
    <li class="post">
      <span class="title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </span>
      <span class="date">
        {{ post.date | date: "%b %d, %Y" }}
      </span>
    </li>
  {% endfor %}
  </ul>
</section>
{% include footer.html %}
